* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #f8f8f8;
  --color-secondary: #27AE60;
  --color1: #FFFFFF;
  --color2: #000;
  --grey1: #dbe1e8;
  --grey2: #b2becd;
  --grey3: #6c7983;
  --form-bg: #f8f4e5;
  --form-shadow: #ffa580;
  --form-primary-highlight: #95a4ff;
  --form-secondary-highlight: #ffc8ff;
  --font-size: 14pt;
  --font-face: 'Fjalla One';
  --font-color: #2A293E;
  --sidebar: #0068ff;
}

.dark-mode {
  --color-primary: #191d2b;
  --color-secondary: #27AE60;
  --color1: #000;
  --color2: #FFFFFF;
  --grey1: #2a2e35;
  --grey2: #6c7983;
  --grey3: #b2becd;
  --form-bg: #2a2e35;
  --form-shadow: #3c543a;
  --font-color: #ffffff;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  color: var(--color2);
  background-color: var(--grey1);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

section {
  position: absolute;
  top: 0;
  left: 60px;
  width: calc(100% - 60px);
  height: 100vh;
  background-color: var(--grey1);
}

.section {
  -webkit-transform: translate(-100%) scale(0);
          transform: translate(-100%) scale(0);
}

.sec1,
.sec2,
.sec3,
.sec4,
.sec5 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
}

@-webkit-keyframes scaleAnim {
  0% {
    -webkit-transform: translateX(-100%) scaleY(1);
            transform: translateX(-100%) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@keyframes scaleAnim {
  0% {
    -webkit-transform: translateX(-100%) scaleY(1);
            transform: translateX(-100%) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

.home {
  position: relative;
}

.home .right-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .right-home .name-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25vh;
}

.home .right-home .name {
  width: 15ch;
  white-space: nowrap;
  overflow: hidden;
  font-size: 5em;
  font-family: 'Macondo', cursive;
  color: var(--color-secondary);
  font-family: 'Reenie Beanie', cursive;
  -webkit-animation: typing 3s steps(16) 1s, blink 0.7s step-end infinite alternate;
          animation: typing 3s steps(16) 1s, blink 0.7s step-end infinite alternate;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.home .right-home .name:hover {
  color: #817978;
  text-shadow: 0 0 10px black, 0 0 20px white, 0 0 40px white;
  text-shadow: 0px 0px #dada8b, -1px 1px #dada8b, -2px 2px #dada8b, -3px 3px #dada8b, -4px 4px #dada8b, -5px 5px #dada8b, -6px 6px #dada8b, -7px 7px #dada8b, -8px 8px #dada8b, -9px 9px #dada8b, -10px 10px #dada8b;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.home .right-home .position {
  width: 16ch;
  -webkit-animation: typing 3s steps(16) 4s, blink 0.7s step-end infinite alternate;
          animation: typing 3s steps(16) 4s, blink 0.7s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 1.6em;
  font-family: 'Macondo', cursive;
}

@-webkit-keyframes typing {
  0% {
    width: 0;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.about-app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.skill-img {
  width: 100%;
}

.about-stats {
  padding-bottom: 1rem;
}

.about-stats .progress-bar-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  margin-top: 5rem;
  border-radius: 0px;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.about-stats .progress-bar-con .progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2rem;
  border-bottom: 2px solid transparent;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.about-stats .progress-bar-con .progress-bar:hover {
  border-bottom: 2px solid #000000;
}

.about-stats .progress-bar-con .progress-bar .prog-title {
  font-size: 1rem;
  font-weight: 400;
  color: #0068ff;
}

.stats-title {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  padding: 0.5rem 0;
  margin-bottom: 3rem;
  position: relative;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.stats-title:hover {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.stats-title::before {
  position: absolute;
  content: '';
  left: 38%;
  bottom: -10px;
  width: 60%;
  height: 1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: -webkit-gradient(linear, left top, right top, from(#09f1b8), color-stop(#00a2ff), color-stop(#ff00d2), to(#fed90f));
  background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-color: #000;
}

.stats-title:after {
  position: absolute;
  content: '';
  left: 32%;
  top: -10px;
  width: 60%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(#09f1b8), color-stop(#00a2ff), color-stop(#ff00d2), to(#fed90f));
  background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
}

.timeline-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
}

.timeline-con .timeline-illus {
  width: 35%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.timeline-con .timeline {
  border-radius: 0px;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.timeline-con .timeline .tl-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.timeline-con .timeline .tl-icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-secondary);
  border-radius: 50%;
}

.timeline-con .timeline .tl-icon h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}

.timeline-con .timeline .tl-icon h5 span {
  color: var(--font-color);
  font-weight: 500;
}

.timeline-con .timeline .timeline-desc {
  padding-left: 1.5rem;
}

.timeline-con .timeline .timeline-desc .tl-duration {
  background-color: var(--color-grey5);
  border-radius: 15px;
  display: inline-block;
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.timeline-con .timeline .timeline-desc p {
  font-size: .8rem;
  text-align: justify;
}

.port-app-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

.port-app-header .searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.port-app-header .searchbox .icon {
  color: var(--grey3);
  z-index: 1;
}

.port-app-header .searchbox #search-text {
  padding: 10px;
  background: var(--grey1);
  border-radius: 5px;
  width: 200px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  margin-left: -1.3rem;
  padding-left: 2rem;
}

.port-app-header #project-sort {
  padding: 10px;
  background: var(--grey1);
  border-radius: 5px;
  width: 200px;
  border: none;
  outline: none;
  color: var(--grey3);
  font-size: 1rem;
  font-weight: 600;
}

.projects {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin: 20px 0;
}

.projects .project-item {
  position: relative;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  border: 1px solid var(--grey2);
}

.projects .project-item:hover {
  border: 1px solid var(--grey1);
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
          box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.projects .logo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .logo-row img {
  border-radius: 8px;
  display: block;
  width: 50px;
  height: 50px;
}

.projects .logo-row .icon {
  color: var(--grey2);
}

.projects .title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10px 0;
}

.projects .title-row h3 {
  font-weight: bold;
}

.projects .title-row .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 5px 0;
  color: var(--grey3);
}

.projects .title-row .links .icon {
  margin-right: 5px;
}

.projects .desc-row {
  color: var(--grey3);
  font-weight: 400;
  line-height: 18px;
}

.projects .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.projects .footer-row .days {
  padding: 8px 5px;
  border-radius: 4px;
  background: var(--grey2);
  font-size: 13px;
  color: var(--color1);
}

.projects .footer-row .users {
  padding: 8px 5px;
  border-radius: 3px;
  margin: 0 2px;
}

.projects .footer-row .users i {
  font-size: 1.2rem;
  margin: 0 2px;
}

@-webkit-keyframes project-shadow {
  0% {
    -webkit-box-shadow: rgba(240, 46, 170, 0.4) -5px 5px;
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px;
  }
  25% {
    -webkit-box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px;
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px;
  }
  50% {
    -webkit-box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px;
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px;
  }
  75% {
    -webkit-box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px;
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px;
  }
  100% {
    -webkit-box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  }
}

@keyframes project-shadow {
  0% {
    -webkit-box-shadow: rgba(240, 46, 170, 0.4) -5px 5px;
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px;
  }
  25% {
    -webkit-box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px;
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px;
  }
  50% {
    -webkit-box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px;
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px;
  }
  75% {
    -webkit-box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px;
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px;
  }
  100% {
    -webkit-box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  }
}

.blog-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.blog-container .blog {
  position: relative;
  border-radius: 15px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-align: center;
  -webkit-box-shadow: 0px 1px 1px 2px rgba(181, 181, 181, 0.5);
          box-shadow: 0px 1px 1px 2px rgba(181, 181, 181, 0.5);
}

.blog-container .blog video,
.blog-container .blog img {
  width: 90%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  margin-top: 1rem;
}

.blog-container .blog .blog-text {
  padding: 1rem 2rem;
  text-align: center;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.blog-container .blog .blog-text h4 {
  padding-bottom: 1rem;
  color: var(--color-secondary);
  font-size: 1.1rem;
  font-weight: 600;
  border-bottom: 1px solid var(--grey2);
}

.blog-container .blog .blog-text p {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5rem;
}

/*CONTACT CONTENT */
.contact-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.contact-con .contact-img {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  width: 35%;
}

.contact-us {
  background: white;
  padding: 25px 50px;
  border: 1px solid var(--color2);
  -webkit-box-shadow: 10px 10px 1px white, 10px 10px 1px 1px var(--color2);
          box-shadow: 10px 10px 1px white, 10px 10px 1px 1px var(--color2);
  margin: 0 auto;
  width: 40%;
  margin: 1rem 0;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.contact-us:hover {
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
          box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  -webkit-box-shadow: 10px 10px 1px var(--form-shadow), 10px 10px 1px 1px var(--color2);
          box-shadow: 10px 10px 1px var(--form-shadow), 10px 10px 1px 1px var(--color2);
}

.contact-us input {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 2rem;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  min-width: 200px;
  padding-left: 5px;
  outline: none;
  margin-bottom: 2rem;
}

.contact-us input:focus {
  border-bottom: 1px solid var(--form-shadow);
}

.contact-us input::-webkit-input-placeholder {
  color: whit;
}

.contact-us input:-ms-input-placeholder {
  color: whit;
}

.contact-us input::-ms-input-placeholder {
  color: whit;
}

.contact-us input::placeholder {
  color: whit;
}

.contact-us textarea {
  width: 100%;
  font-size: 1rem;
  line-height: 2rem;
  font-family: var(--font-face);
  margin-bottom: 2rem;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color2);
  background-color: transparent;
  resize: none;
  color: var(--color2);
}

.contact-us textarea:focus {
  border-bottom: 1px solid var(--form-shadow);
}

.contact-us button {
  display: block;
  margin: 0 auto;
  line-height: 2rem;
  padding: 0 20px;
  background: var(--form-shadow);
  letter-spacing: 2px;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  -webkit-box-shadow: 3px 3px 1px var(--form-primary-highlight), 3px 3px 1px 1px black;
          box-shadow: 3px 3px 1px var(--form-primary-highlight), 3px 3px 1px 1px black;
}

.contact-us button:hover {
  background: black;
  color: white;
  border: 1px solid black;
}

.contact-us button::-moz-selection {
  background: var(--form-secondary-highlight);
}

.contact-us button::selection {
  background: var(--form-secondary-highlight);
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.contact-info .icon {
  padding: .3rem;
  border-radius: 50%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: #191d2b;
}

.contact-info .icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #00a2ff;
}

.contact-info .icon i {
  font-size: 1.5rem;
}

main {
  position: relative;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

main .sub-menu {
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 0.38);
          box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 0.38);
  height: 55px;
  background-color: var(--color-primary);
  border-top-right-radius: 8px;
}

main .sub-menu .title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 10px;
}

main .sub-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 100%;
}

main .sub-menu .menu li {
  margin: 0 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.85rem;
  color: var(--grey3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sub-menu .menu li.selected, main .sub-menu .menu li:hover {
  color: var(--sidebar);
  position: relative;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

main .sub-menu .menu li.selected::after, main .sub-menu .menu li:hover::after {
  content: "";
  border-bottom: 3px solid var(--sidebar);
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

main .sub-menu .menu li.selected .badge, main .sub-menu .menu li:hover .badge {
  background: var(--sidebar);
  color: var(--color1);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

main .sub-menu .menu li:hover {
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

main .sub-menu .menu li .badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  padding: 12px;
  margin: 5px;
  background: var(--grey2);
  color: var(--grey3);
  font-size: 12px;
  height: 20px;
  width: 20px;
}

main .sub-menu .user-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10px;
}

main .sub-menu .user-options .user-img {
  width: 50px;
  padding: 2px;
}

main .sub-menu .user-options .user-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

main .app-content {
  background-color: var(--color-primary);
  margin: .8rem .8rem 0 .8rem;
  padding: 1rem;
  overflow-y: scroll;
  height: calc(100vh - 70px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom-right-radius: 8px;
}

.controls {
  position: fixed;
  z-index: 10;
  height: 100vh;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  background-color: #0068ff;
  padding: 5px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.controls .active-btn {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}

.controls .active-btn i {
  color: white !important;
}

.controls .control {
  padding: .5rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .2rem 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.controls .control:focus {
  -webkit-transform: translateY(5px) scale(0.8);
          transform: translateY(5px) scale(0.8);
}

.controls .control i {
  font-size: 1rem;
  color: white;
  pointer-events: none;
}

.theme-btn-con {
  position: fixed;
  z-index: 10;
  bottom: 1%;
  left: .5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.theme-btn-con .theme-btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.theme-btn-con .theme-btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}

.theme-btn-con .theme-btn i {
  font-size: 1.5rem;
  color: white;
  pointer-events: none;
}

.background .triangle {
  width: 100px;
  height: 100px;
  background-color: #27AE60;
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
          box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
  100% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
  100% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
}

@-webkit-keyframes pacman {
  0% {
    -webkit-transform: translate(-5px);
            transform: translate(-5px);
  }
  50% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: translate(-5px);
            transform: translate(-5px);
  }
}

@keyframes pacman {
  0% {
    -webkit-transform: translate(-5px);
            transform: translate(-5px);
  }
  50% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: translate(-5px);
            transform: translate(-5px);
  }
}

@media only screen and (max-width: 1250px) {
  .skills {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
  .skills .skill-img {
    display: none;
  }
  .timeline-con img {
    display: none;
  }
  .projects {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .contact-us {
    width: 50%;
  }
}

@media only screen and (max-width: 950px) {
  .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contact-us {
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .blog-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .contact-us {
    width: 70%;
  }
}

@media only screen and (max-width: 700px) {
  .projects {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  main .sub-menu .menu li {
    font-size: 0.75rem;
    margin: 0 0.1rem;
  }
  main .sub-menu .menu li .badge {
    font-size: 8px;
  }
  .contact-us {
    width: 100%;
  }
}
/*# sourceMappingURL=nitish2.css.map */